In [2]:
import pandas as pd
import numpy as np

movie = pd.read_csv('data/movie.csv')
movie

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [51]:
#메서드
columns = movie.columns
print(columns)

movie.dtypes
print(movie.dtypes)

movie.info()

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')
color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [60]:
#열선택
movie.director_name


movie['director_name']

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [ ]:
#series의 메소드

In [70]:
director=movie.director_name
fb_likes=movie['actor_1_facebook_likes']

director.head()

director.value_counts()

fb_likes.describe()

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

In [74]:
#열 이름 바꾸기

movies=pd.read_csv('data/movie.csv')

col_map={'director_name':'director',         # 딕셔너리 형태로 저장
         'num_critic_name':'critic_reviews'} 
movies.rename(columns=col_map)       #rename 메소드로 이름 바꾸기

,color,director,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [89]:
# 열 생성
#1
movie = pd.read_csv('data/movie.csv')
movie['has_seen'] = 0  # 모든 값이 0을 가지는 has seen열 마지막에 생성
movie.columns

#2                             

movie.assign(has_seen=0)   #assign 메서드의 매개변수를 열 이름으로 사용

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,has_seen
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,0
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84,0
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000,0
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16,0
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660,0
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456,0

In [91]:
# 열 삭제
movie = pd.read_csv('data/movie.csv')
movie['has_seen'] = 0    # 모든 값이 0을 가지는 has seen열 마지막에 생성
movie


movie.drop(columns='has_seen')  # 열을 삭제할 때는 columns='컬럼명'으로 해줘야함

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [8]:
#데인터 프레임 요약

import pandas as pd
import numpy as np


#첫번째 방법
movies=pd.read_csv('data/movie.csv')
print(movie.shape)   #배열의 차원으로 (m,n)의 튜플형식
             #m,n은 각 차원의 원소의 크기를 알려주는 정수값이다
print(movie.size)      #배열의 원소 개수
print(movie.ndim)  #배열 축 혹은 차원의 개수

(4916, 28)
137648
2

In [13]:
#두 번째 방법(요약 통계량)
movies=pd.read_csv('data/movie.csv')
movies.min()     #최솟값
movies.max()       #최댓값
movies.mean()     #평균
movies.median()      #중앙값


#세번째
 
movies.describe()     #기술통계량과 분위수를 동시에 계산해서 
                          #dataFrame을 나타내줌

C:\Users\Admin\AppData\Local\Temp\ipykernel_31232\1729197524.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  movies.min()     #최솟값
C:\Users\Admin\AppData\Local\Temp\ipykernel_31232\1729197524.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  movies.max()       #최댓값
C:\Users\Admin\AppData\Local\Temp\ipykernel_31232\1729197524.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  movies.mean()     #평균
C:\Users\Admin\AppData\Local\Temp\ipykernel_31232\1729197524.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  movies.median()      #중앙값

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867.000000,4901.000000,4814.000000,4893.000000,4909.000000,4.054000e+03,4.916000e+03,4916.000000,4903.000000,4895.000000,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
mean,137.988905,107.090798,691.014541,631.276313,6494.488491,4.764451e+07,8.264492e+04,9579.815907,1.377320,267.668846,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,120.239379,25.286015,2832.954125,1625.874802,15106.986884,6.737255e+07,1.383222e+05,18164.316990,2.023826,372.934839,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,49.000000,93.000000,7.000000,132.000000,607.000000,5.019656e+06,8.361750e+03,1394.750000,0.000000,64.000000,6.000000e+06,1999.000000,277.000000,5.800000,1.850000,0.000000
50%,108.000000,103.000000,48.000000,366.000000,982.000000,2.504396e+07,3.313250e+04,3049.000000,1.000000,153.000000,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
75%,191.000000,118.000000,189.750000,633.000000,11000.000000,6.110841e+07,9.377275e+04,13616.750000,2.000000,320.500000,4.300000e+07,2011.000000,912.000000,7.200000,2.350000,2000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [34]:
#데이터프레임 연산


colleges = pd.read_csv('data/college.csv', index_col='INSTNM')
college_ugds = colleges.filter(like='UGDS_')



#pandas는 뱅커 반올림함
#(숫자가 양쪽의 한 가운데 있을 경우에는 가까운 짝수 쪽으로 만들어 버림)

name='Northwest-Shoals Community College'
print(college_ugds.loc[name])

print() 
print(college_ugds.loc[name].round(2))   #뱅커반올림

print()
print((college_ugds.loc[name]+0.0001).round(2))   #뱅커반올림 전 0.0001더하면 반올림함


#산술연산자
print(college_ugds+0.000501)      #더하기 연산
print(college_ugds-0.000501)        #빼기
print(college_ugds80*0.000501)    #곱하기
print(college_ugds%0.000501)      #나누기
print((college_ugds+0.000501)//0.01)     #몫을 구하는 연산자 //

UGDS_WHITE    0.7912
UGDS_BLACK    0.1250
UGDS_HISP     0.0339
UGDS_ASIAN    0.0036
UGDS_AIAN     0.0088
UGDS_NHPI     0.0006
UGDS_2MOR     0.0012
UGDS_NRA      0.0033
UGDS_UNKN     0.0324
Name: Northwest-Shoals Community College, dtype: float64

UGDS_WHITE    0.79
UGDS_BLACK    0.12
UGDS_HISP     0.03
UGDS_ASIAN    0.00
UGDS_AIAN     0.01
UGDS_NHPI     0.00
UGDS_2MOR     0.00
UGDS_NRA      0.00
UGDS_UNKN     0.03
Name: Northwest-Shoals Community College, dtype: float64

UGDS_WHITE    0.79
UGDS_BLACK    0.13
UGDS_HISP     0.03
UGDS_ASIAN    0.00
UGDS_AIAN     0.01
UGDS_NHPI     0.00
UGDS_2MOR     0.00
UGDS_NRA      0.00
UGDS_UNKN     0.03
Name: Northwest-Shoals Community College, dtype: float64
                                                    UGDS_WHITE  UGDS_BLACK  \
INSTNM
Alabama A & M University                              0.033801    0.935801
University of Alabama at Birmingham                   0.592701    0.260501
Amridge University                                    0.299501    0.419701
University of Alabama in Huntsville                   0.699301    0.126001
Alabama State University                              0.016301    0.921301
...                                                        ...         ...
SAE Institute of Technology  San Francisco                 NaN         NaN
Rasmussen College - Overland Park                          NaN         NaN
National Personal Training Institute of Cleveland          NaN         NaN
Bay Area Medical Academy - San Jose Satellite L...         NaN         NaN
Excel Learning Center-San Antonio South                    NaN         NaN

                                                    UGDS_HISP  UGDS_ASIAN  \
INSTNM
Alabama A & M University                             0.006001    0.002401
University of Alabama at Birmingham                  0.028801    0.052301
Amridge University                                   0.007401    0.003901
University of Alabama in Huntsville                  0.038701    0.038101
Alabama State University                             0.012601    0.002401
...                                                       ...         ...
SAE Institute of Technology  San Francisco                NaN         NaN
Rasmussen College - Overland Park                         NaN         NaN
National Personal Training Institute of Cleveland         NaN         NaN
Bay Area Medical Academy - San Jose Satellite L...        NaN         NaN
Excel Learning Center-San Antonio South                   NaN         NaN

                                                    UGDS_AIAN  UGDS_NHPI  \
INSTNM
Alabama A & M University                             0.002901   0.002401
University of Alabama at Birmingham                  0.002701   0.001201
Amridge University                                   0.000501   0.000501
University of Alabama in Huntsville                  0.014801   0.000701
Alabama State University                             0.001501   0.001101
...                                                       ...        ...
SAE Institute of Technology  San Francisco                NaN        NaN
Rasmussen College - Overland Park                         NaN        NaN
National Personal Training Institute of Cleveland         NaN        NaN
Bay Area Medical Academy - San Jose Satellite L...        NaN        NaN
Excel Learning Center-San Antonio South                   NaN        NaN

                                                    UGDS_2MOR  UGDS_NRA  \
INSTNM
Alabama A & M University                             0.000501  0.006401
University of Alabama at Birmingham                  0.037301  0.018401
Amridge University                                   0.000501  0.000501
University of Alabama in Huntsville                  0.017701  0.033701
Alabama State University                             0.010301  0.024801
...                                                       ...       ...
SAE Institute of Technology  San Francisco                NaN       NaN
Rasmussen College - Overland Park                         NaN       NaN
National Personal Training Institute of Cleveland         NaN       NaN
Bay Area Medical Academy - San Jose Satellite L...        NaN       NaN
Excel Learning Center-San Antonio South                   NaN       NaN

                                                    UGDS_UNKN
INSTNM
Alabama A & M University                             0.014301
University of Alabama at Birmingham                  0.010501
Amridge University                                   0.272001
University of Alabama in Huntsville                  0.035501
Alabama State University                             0.014201
...                                                       ...
SAE Institute of Technology  San Francisco                NaN
Rasmussen College - Overland Park                         NaN
National Personal Training Institute of Cleveland         NaN
Bay Area Medical Academy - San Jose Satellite L...        NaN
Excel Learning Center-San Antonio South                   NaN

[7535 rows x 9 columns]
                                                    UGDS_WHITE  UGDS_BLACK  \
INSTNM
Alabama A & M University                              0.032799    0.934799
University of Alabama at Birmingham                   0.591699    0.259499
Amridge University                                    0.298499    0.418699
University of Alabama in Huntsville                   0.698299    0.124999
Alabama State University                              0.015299    0.920299
...                                                        ...         ...
SAE Institute of Technology  San Francisco                 NaN         NaN
Rasmussen College - Overland Park                          NaN         NaN
National Personal Training Institute of Cleveland          NaN         NaN
Bay Area Medical Academy - San Jose Satellite L...         NaN         NaN
Excel Learning Center-San Antonio South                    NaN         NaN

                                                    UGDS_HISP  UGDS_ASIAN  \
INSTNM
Alabama A & M University                             0.004999    0.001399
University of Alabama at Birmingham                  0.027799    0.051299
Amridge University                                   0.006399    0.002899
University of Alabama in Huntsville                  0.037699    0.037099
Alabama State University                             0.011599    0.001399
...                                                       ...         ...
SAE Institute of Technology  San Francisco                NaN         NaN
Rasmussen College - Overland Park                         NaN         NaN
National Personal Training Institute of Cleveland         NaN         NaN
Bay Area Medical Academy - San Jose Satellite L...        NaN         NaN
Excel Learning Center-San Antonio South                   NaN         NaN

                                                    UGDS_AIAN  UGDS_NHPI  \
INSTNM
Alabama A & M University                             0.001899   0.001399
University of Alabama at Birmingham                  0.001699   0.000199
Amridge University                                  -0.000501  -0.000501
University of Alabama in Huntsville                  0.013799  -0.000301
Alabama State University                             0.000499   0.000099
...                                                       ...        ...
SAE Institute of Technology  San Francisco                NaN        NaN
Rasmussen College - Overland Park                         NaN        NaN
National Personal Training Institute of Cleveland         NaN        NaN
Bay Area Medical Academy - San Jose Satellite L...        NaN        NaN
Excel Learning Center-San Antonio South                   NaN        NaN

                                                    UGDS_2MOR  UGDS_NRA  \
INSTNM
Alabama A & M University                            -0.000501  0.005399
University of Alabama at Birmingham                  0.036299  0.017399
Amridge University                                  -0.000501 -0.000501
University of Alabama in Huntsville                  0.016699  0.032699
Alabama State University                             0.009299  0.023799
...                                                       ...       ...
SAE Institute of Technology  San Francisco                NaN       NaN
Rasmussen College - Overland Park                         NaN       NaN
National Personal Training Institute of Cleveland         NaN       NaN
Bay Area Medical Academy - San Jose Satellite L...        NaN       NaN
Excel Learning Center-San Antonio South                   NaN       NaN

                                                    UGDS_UNKN
INSTNM
Alabama A & M University                             0.013299
University of Alabama at Birmingham                  0.009499
Amridge University                                   0.270999
University of Alabama in Huntsville                  0.034499
Alabama State University                             0.013199
...                                                       ...
SAE Institute of Technology  San Francisco                NaN
Rasmussen College - Overland Park                         NaN
National Personal Training Institute of Cleveland         NaN
Bay Area Medical Academy - San Jose Satellite L...        NaN
Excel Learning Center-San Antonio South                   NaN

[7535 rows x 9 columns]

NameError: name 'college_ugds80' is not defined

In [37]:
#결측치 비교
print(np.nan==np.nan)

print()
print(np.nan>5)

print()
print(np.nan<5)

print()
print(np.nan!=5)

False

False

False

True

In [36]:
None==None

True

In [38]:
# 스크래치에서 데이터프레임 생성

import pandas as pd
import numpy as np


#1.데이터를 담은 병렬 리스트를 생성(각각 데이터프레임의 열이 되므로 동일한 형식이어야함 )
fname=['Paul','John','Richard','George']                     
lname = ['McCartney', 'Lennon', 'Starkey', 'Harrison']
birth = [1942, 1940, 1940, 1943]

#2.리스트에서 딕셔너리를 생성하고 열 이름을 리스트와 매핑한다

people = {'first': fname, 'last': lname, 'birth': birth}

#3.딕셔너리에서 데이터프레임 생성

beatles = pd.DataFrame(people)
beatles

     first       last  birth
0     Paul  McCartney   1942
1     John     Lennon   1940
2  Richard    Starkey   1940
3   George   Harrison   1943

In [39]:
#다른 인덱스 지정
pd.DataFrame(people,index=['a','b','c','d'])

     first       last  birth
a     Paul  McCartney   1942
b     John     Lennon   1940
c  Richard    Starkey   1940
d   George   Harrison   1943

In [64]:
#엑셀파일 사용

!pip install xlwt      #읽고 쓰기 가능하기 위해서 xlwt,openpyexcel 설치해야함
!pip install openpyxl


beatles.to_excel('beat.xls')       #.to_excel이용해서 엑셀파일 저장하기

beat2=pd.read_excel('C:/Users/Admin/data/beat.xls')  #저장한 엑셀파일 불러오기
beat2

Requirement already satisfied: xlwt in c:\users\admin\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: openpyxl in c:\users\admin\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\admin\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

C:\Users\Admin\AppData\Local\Temp\ipykernel_31232\64675486.py:7: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  beatles.to_excel('beat.xls')

   Unnamed: 0    first       last  birth
0           0     Paul  McCartney   1942
1           1     John     Lennon   1940
2           2  Richard    Starkey   1940
3           3   George   Harrison   1943